<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{LayoutWeb/dashboardLayout.html}">

<head>
<meta charset="UTF-8">
<style>
.hiden {
	visibility: hidden;
	z-index: -1;
	position: absolute;
}
</style>
</head>

<body translate="no">
	<div layout:fragment="content">
	
		<div class="container">
			<div class="section-title ">
				<h5 class="a-h5">Danh sách hoá đơn đã thanh toán thành công</h5>
			</div>
			<table class="table table-striped table-hover"
				style="margin-top: 10px;">
				<thead>
					<tr style="background: black; color: white;">
						<th scope="col">ID hoá đơn</th>
						<th scope="col">Ngày tạo</th>
						<th scope="col">Tổng giá tiền</th>
						<th scope="col">Phương thức thanh toán</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item : ${listHoaDon}" th:if="${item.wasPay}">
						<td th:text="${item.id}"></td>
						<td th:text="${item.dateCreate}"></td>
						<td th:text="${item.price}"></td>
						<td th:text="${item.paymentMethod}"></td>
						<td>
							<a class="btn btn-danger btn-sm"
							th:href="@{'/hoadon/xoa/'+${item.id}}" role="button">Xóa</a>
							<a class="btn btn-info btn-sm"
							th:href="@{/}" role="button">Danh sách sản phẩm</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<br><br>
		<div class="container">
			<div class="section-title ">
				<h5 class="a-h5">Danh sách hoá đơn thanh toán thất bại</h5>
			</div>
			<table class="table table-striped table-hover"
				style="margin-top: 10px;">
				<thead>
					<tr style="background: black; color: white;">
						<th scope="col">ID hoá đơn</th>
						<th scope="col">Ngày tạo</th>
						<th scope="col">Tổng giá tiền</th>
						<th scope="col">Phương thức thanh toán</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item : ${listHoaDon}" th:if="${!item.wasPay}">
						<td th:text="${item.id}"></td>
						<td th:text="${item.dateCreate}"></td>
						<td th:text="${item.price}"></td>
						<td th:text="${item.paymentMethod}"></td>
						<td>
							<a class="btn btn-danger btn-sm"
							th:href="@{'/hoadon/xoa/'+${item.id}}" role="button">Xóa</a>
							<a class="btn btn-info btn-sm"
							th:href="@{/}" role="button">Danh sách sản phẩm</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>

</html>