<!DOCTYPE html>
<html
	class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{LayoutWeb/dashboardLayout.html}"
>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../site/css/PaymentMethod.css" />
</head>
<body>
	<div class="container" layout:fragment="content">
		<div class="payment-success">
		  <div class="header1">
		    <i class="ion-close-round close"></i>
		  </div>
		  
		  <div class="body1">
			  <div class="title1">Thanh Toán<br>Thành Công</div>
			  <img class="main-img1" src="https://res.cloudinary.com/dw1zug8d6/image/upload/v1542777688/group-3_3x.png" alt="">
			  	<p>Đơn hàng của bạn đã được thanh toán thành công!</p>
			  	<form action="/home" method="get">
			  		<button class="btn1 btn-primary1" type="submit">Đồng Ý</button>
			  	</form>
		  </div>
		</div>
	</div>
</body>
</html>