<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{LayoutWeb/dashboardLayout.html}">

<head>
<meta charset="UTF-8">
<style>
.hiden {
	visibility: hidden;
	z-index: -1;
	position: absolute;
}
</style>
</head>

<body translate="no">
	<div layout:fragment="content">
		<div class="section">
			<div class="containter row justify-content-center">
				<div class="col-4 m-auto">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="section-title ">
									<h5 class="a-h5">Danh sách khuyến mãi</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-10 row align-items-start ">
					<div class="col-4">
						<button type="button" class="btn btn-primary"
							data-bs-toggle="modal" data-bs-target="#exampleModal">
							Thêm mới khuyến mãi</button>


						<!-- Modal -->
						<div class="modal fade" id="exampleModal" tabindex="-1"
							aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Modal
											title</h5>
										<button type="button" class="btn-close"
											data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<div class="container">
											<div class="row justify-content-center">
												<div class="col-lg-8" style="margin-right: 137px;">
													<div class="card border-0 rounded-3 shadow-lg"
														style="width: 408px;">
														<div class="card-body p-4">
															<div class="text-center">
																<div class="h1 fw-light">
																	<h5 class="a-h5">Thêm mới khuyến mãi</h5>
																</div>
															</div>

															<form id="contactForm"  th:action="@{/khuyenmai/them}"  enctype ="multipart/form-data" 													
																method="post">
																<!-- Name Input -->
																<div class="form-floating mb-3">
																	<input class="form-control"  type="text" 
																		name="name"  required /> <label
																		for="name">Tên khuyến mãi</label>

																</div>
																
															
																


																<!-- SDT Input -->
																<div class="form-floating mb-3">
																	<input class="form-control" id="phantram" 
																	name="phantramKM" onchange="sl()"	type="number" required />
																	<label for="phoneAddress">Phần trăm khuyến mãi</label>
																</div>
																
																					<!-- SDT Input -->
																<div class="form-floating mb-3">
																	<input class="form-control" id="ngaybd" 
																		type="date"  onchange="ngay()" name="ngayBD" required />
																	<label for="phoneAddress">Ngày bắt đàu</label>
																</div>
																
																					<div class="form-floating mb-3">
																	<input class="form-control" onchange="ngay()" id="ngaykt" 
																		type="date" name="ngayKT" required />
																	<label for="phoneAddress">Ngày kết thúc</label>
																</div>
																											
																<!-- Submit button -->
																<div class="d-grid">
																	<button class="btn btn-primary btn-lg "
																		id="submitButton" type="submit">Submit</button>
																</div>
															</form>
															<!-- End of contact form -->

														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary"
											data-bs-dismiss="modal">Close</button>
										<button type="button" class="btn btn-primary">Save
											changes</button>
									</div>
								</div>
							</div>
						</div>

					</div>
					<div th:if="${khongthem}!=null" class="alert alert-danger"
						role="alert" style="margin-top: 25px;" th:text="${khongthem}">
						A simple danger alert—check it out!</div>
					<div th:if="${them}!=null" class="alert alert-success" role="alert"
						style="margin-top: 25px;" th:text="${them }"></div>
				</div>

			</div>
		</div>
		<div class="container">
			<table class="table table-striped table-hover"
				style="margin-top: 10px;">
				<thead>
					<tr style="background: black; color: white;">
						
						<th scope="col">Tên khuyến mãi</th>
						
						<th scope="col">Phần trăm khuyến mãi</th>
						<th scope="col">Ngày bắt đầu</th>						
						<th scope="col">Ngày kết thúc</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item : ${listkhuyenmai}">
						<td th:text="${item.name}" ></td>
						<td th:text="${item.phantramKM}" ></td>
						
						<td th:text="${item.ngayBD}"></td>
					<td th:text="${item.ngayKT}"></td>
					
						<td><a class="btn btn-primary btn-sm " th:href="@{'/khuyenmai/edit/'+${item.id}}" 
							 role="button">Sửa</a>
							<a class="btn btn-primary btn-sm"th:href="@{'/khuyenmai/xoa/'+${item.id}}" 
							 role="button">Xóa</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</body>

</html>