<!DOCTYPE html>
<html class="no-js" lang="en" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="~{LayoutWeb/dashboardLayout.html}">
<meta charset="UTF-8" />
<head>
</head>
<body >

    <div style="height: 150px;margin-bottom: 300px"layout:fragment="content" >
    		<div
			th:if="${khongthanhcong}!=null or ${taikhoankhongco}!=null"
			class="alert alert-danger alert-dismissible"
			style="height: 57px; position: absolute; float: right; margin-left: 1087px; margin-top:-62px; line-height: 19px; width: 392px;">
			<a href="#" class="close" data-dismiss="alert" aria-label="close"
				style="float: right; font-size: 38px;">&times;</a> <strong
				style="font-size: 20px;">Đăng nhập không thành công!</strong>
		</div>
    <div class="login-boxx"  >
        <h3 >Đổi mật khẩu</h3>
        <form th:action="@{/changepassword}" method="post">
            <div class="user-box">
                <input type="text" name="password" th:value="${password!=null}?${password}:''" required="">
                 <label th:if="${taikhoankhongco}!= null"
                    style="color: rgb(255, 0, 0);margin-top: 59px; float: right; margin-right: 5px;text-decoration: none;">Tài khoản không đúng.</label>
                <label>Mật khẩu cũ</label>
                 
            </div>
              <div class="user-box">
                <input type="text" name="passwordnew"th:value="${passwordnew!=null}?${passwordnew}:''"required="">
                 <label th:if="${taikhoankhongco}!= null"
                    style="color: rgb(255, 0, 0);margin-top: 59px; float: right; margin-right: 5px;text-decoration: none;">Tài khoản không đúng.</label>
                <label>Mật khẩu mới</label>
                 
            </div>
            <div class="user-box">
                <input type="text" name="rpasswordnew" th:value="${rpasswordnew!=null}?${rpasswordnew}:''" required="">
                 <label th:if="${loi}!= null"
                    style="color: gold;margin-top: 60px; float: right; margin-right: 5px;text-decoration: none;"><span th:text="${loi}"></span></label>
                <label>Nhập lại mật khẩu mới</label>
            </div>
            
            <button type="submit" class="clasaa button" style=" background: linear-gradient(#141e30, #243b55); border: #fff;">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
             Xác nhận
            </button>
            <a href="/home" style="float: right; background: linear-gradient(#141e30, #243b55); border: #fff;" class="clasaa button">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
               Hủy
            </a>
        </form>
    </div>
</div>
</body>
</html>